body{
  margin:0;
}
img{
  width: 24.79%;
  margin:0;
}
li{
  display: inline-block;
  padding: 9px 3.35%;
  margin: 0;
  color: white;
  border-right: 1px solid #363636;
  text-shadow: 0px -1px #383838;
}
nav{
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: 20;
}
footer{
  margin: 0 auto;
  width: 1000px;
  padding: 22px;
  line-height: 2.5em;
  font-size: 10px;
}
li:hover{
  border-radius: 5px;
  background-color:#484a4a;
  background: linear-gradient(to right,#6a6b6b,#484a4a 5%,#484a4a 95%,#6a6b6b);
  transition-duration: 1s;
}

#main-img{
  width: 100%;
  height: 620px;
  margin-bottom: 2px;

}
.apple-logo{
  width:20px;
  -webkit-filter: drop-shadow(1px 1px 1px #222 );
 filter: drop-shadow(0px -1px 0px #222);
}
.last-li{
  border: none;
}
.nav-style{
  padding: 0;
  list-style: none;
  width: 1000px;
  height: 40px;
  background: white;
  margin: 0 auto;
  background: linear-gradient(to bottom,grey 50%,#636161 50%,grey);
  border-radius: 5px;
  border: 1px solid #363636;

}
.container{
  width: 1465px;
  margin: 0 auto;
  position: relative;
}
.footer-left{
  float: left;
}
.footer-right{
  float: right;
}
.extra-link{
  color: #f0f2f5;
  text-decoration: none ;
}
.extra-link:hover{
  color: #f0f2f5;
  text-decoration: none ;
}
.extra-link-hover:hover{
  color: #f0f2f5;
  text-decoration: underline;
}
.p{
  font-family: "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  position: absolute;
  z-index: 10;
  color: #f0f2f5;
  width: 100%;
  text-align: center;
}
.first-p{
  font-size: 50px;
  top: 200px;

}
.second-p{
  font-size: 25px;
  top: 290px;

}
.third-p{
  font-size: 22px;
  top: 380px;

}
