body{
  margin:0;
}
img{
  float: left;
  width: 25%;
}
li{
  float: left;
  display: inline-block;
  padding: 9px 3.574%;
  color: white;
  border-right: 1px solid #363636;
  text-shadow: 0px -1px #383838;
}
input{
  width: 107px;
  border-radius: 10px;
  background: none;
  background-image: url("../imgs/search-icon-white.png");
  background-position: 4px 4px;
  background-repeat: no-repeat;
  border: 1px solid grey;
  padding-left: 25px;
  margin: 0;
  box-shadow: inset -1px 1px 2px black;

}
input:focus{
  background: white;
  background-image: url("../imgs/search-icon.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  color:black;
  outline: none;
}
nav{
  position: absolute;
  top: 70px;
  width: 98%;
  z-index: 20;
}
footer{
  margin: 0 auto;
  width: 1000px;
  padding: 22px;
  line-height: 2.5em;
  font-size: 10px;
}
span{
  vertical-align: middle;
}
li:hover{
  background: linear-gradient(to bottom,#3d3d3d 50%,#0d0d0d 50%,#3d3d3d);
}

#us-logo{
  width: 15px;
}
#main-img{
  width: 100%;
  height: 620px;
  margin-bottom: 2px;
  overflow: hidden;
}
.aClass{
  color:white;
}
.aClass:hover{
  color:white;
  text-decoration: none;
}
.all-img-bottom{
  height: 200px;
}
.img-center{
  padding-left: 0.3%;
}
.li-left:hover{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 5px;
}
.li-right:hover{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.apple-logo{
  width:20px;
  -webkit-filter: drop-shadow(1px 1px 1px #222 );
 filter: drop-shadow(0px -1px 0 #222);
}
.last-li{
  border: none;
  padding-left: 2%;
  padding-right: 2%;
}
.last-li:hover{
  background: none;
}
.nav-style{
  padding: 0;
  list-style: none;
  width: 1000px;
  height: 40px;
  background: white;
  margin: 0 auto;
  background: linear-gradient(to bottom,grey 50%,#636161 50%,grey);
  border-radius: 5px;
  border: 1px solid #363636;

}
.container{
  width: 1465px;
  margin: 0 auto;
  position: relative;
}
.footer-left{
  float: left;
}
.footer-right{
  float: right;
}
.extra-link{
  color: #f0f2f5;
  text-decoration: none ;
}
.extra-link:hover{
  color: #f0f2f5;
  text-decoration: none ;
}
.extra-link-hover:hover{
  color: #f0f2f5;
  text-decoration: underline;
}
.p{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  position: absolute;
  z-index: 10;
  color: #f0f2f5;
  width: 100%;
  text-align: center;
}
.first-p{
  font-size: 50px;
  top: 200px;

}
.second-p{
  font-size: 25px;
  top: 290px;

}
.third-p{
  font-size: 22px;
  top: 380px;
}

@media(max-width:1475px){
  .container{
    width: 100%;
  }

}
@media(max-width:1085px){
  .container{
    width: 1085px;
  }
}
